:root{
    --amarelo:rgb(254, 193, 88);
    --cinzaclaro:rgb(50, 52, 68);
    --cinzaescuro:rgb(35, 37, 51);
    --letraspadrao:rgb(231, 233, 238);
    --letrasEscondidasCC:rgb(88, 92, 110);
}
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color:var(--cinzaclaro);
}
.secaonavbar{
    background: transparent;
    width: 100%;
    height: 60px;
    
}
nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 20px;
}
nav a {
    position: relative;
    color: var(--letrasEscondidasCC);
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
a:hover {
    color: var(--amarelo);
}
.bolinha {
    position: absolute;
    bottom: -5px;
    width: 10px;
    height: 10px;
    background-color: var(--amarelo);
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
